---
import Projects from './Projects.astro';

export interface Card {
  id: number;
  imageUrl: string;
  title: string;
  description: string;
  description2: string;
  pastillas: string[];
  github: string;
  link: string;
}

export const cardData: Card[] = [
  {
    id: 1,
    imageUrl: "../../public/shoesStore.png",
    title: "Shoes Store",
    description: "Shoes Store is a Integrated project created for the Nucba bootcamp. Designed with an intuitive interface and modern technology, our website offers a smooth and secure shopping experience.",
    description2:  "Using HTML5, CSS3, and JavaScript, we created a responsive and optimized website to ensure you can explore our collection from any device. Explore our athletic shoe trends today!",
    pastillas: ["React", "JavaScript"],
    github: "https://github.com/ejemplo/proyecto1",
    link: "https://ejemplo.com/proyecto1",
  },
  // ... las otras tarjetas
];
---

<div>
  {cardData.map((card) => (
    <li>
      <Projects
        id={card.id}
        imageUrl={card.imageUrl}
        title={card.title}
        description={card.description}
        description2={card.description2}
        pastillas={card.pastillas}
        github={card.github}
        link={card.link}
      />
    </li>
  ))}
</div>
